<div id="body" class="width">
	<section id="content" class="two-column with-right-sidebar">
        <article ng-repeat="articleItem in articles">
            <h2>{{articleItem.title}}</h2>
            <div class="article-time">Posted on
                <time datetime="{{articleItem.dateNumbers}}">
                    {{articleItem.dateText}}
                </time>
                <p class="article-p">{{articleItem.blurbText}}</p>
                <p class="article-button-p">
                    <a href="{{articleItem.url}}" class="article-button button">Read More</a>
                </p>
            </div>
        </article>
    </section>
    <aside class="sidebar big-sidebar right-sidebar">
        <ul>
           <li>
                <h4>Archives</h4>
                <ul class="blocklist">
                    <li><a class="selected sidebar-link" href="index.html">Homepage</a></li>
                    <li ng-repeat="month in months"><a class="sidebar-link" href="{{month.url}}">{{month.month}}</a></li>
                </ul>
            </li>
            <li>
        </ul>
    </aside>
    <div class="clear"></div>
</div>