<div id="body" class="width">
    <article ng-repeat="article in articles.slice(((currentPage-1)*3), ((currentPage)*3))">
        <h2>{{article.title}}</h2>
        <div class="article-time">Posted on
            <time datetime="{{article.dateNumbers}}">
                {{article.dateText}}
            </time>
            <p class="article-p">{{article.blurbText}}</p>
            <p class="article-button-p">
                <a href="{{article.url}}" class="article-button button">Read More</a>
            </p>
        </div>
    </article>
    <ul class="pagination">
        <li><a ng-click="paginationSelected(-2)">Previous</a></li>
        <li ng-repeat="i in styleArray track by $index" ng-click="paginationSelected($index+1)" ng-class="i">
        <a>{{$index+1}}</a></li>
        <li><a ng-click="paginationSelected(-1)">Next</a></li>
    </ul>
</div>