<nav>
	<div class="width">
    	<ul class="sf-menu dropdown">
	        <li ng-class="styles[0]"><a ng-click="menuClicked('0')">Home</a></li>
	        <li ng-class="style[1]"><a ng-click="menuClicked('1')">Resume</a></li>
		      <li ng-class="styles[2]"><a ng-click="menuClicked('2')">Projects</a></li>
	        <li ng-class="styles[3]"><a ng-click="menuClicked('3')">Coding Teasers</a></li>
	        <li ng-class="styles[4]"><a ng-click="menuClicked('4')">About Me</a></li>
	        <li>
	       		<div id="status">{{statusMessage}}</div>
	                <button type="button" 
	                	class="btn btn-primary btn-large" 
	                	ng-show="!authenticated" 
	                	ng-click="login()">Login with Facebook
	                </button>
	                <button type="button" 
	                	class="btn btn-primary btn-large"
	                	ng-show="authenticated"
	                	ng-click="logout()">
	                	Logout
	                </button>
	        </li>
      </ul>
    </div>
    <div class="clear"></div>
</nav>
